<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->

    <div
      class="header accent p-24 h-160"
      fxLayout="row"
      fxLayoutAlign="start center">
      <div fxLayout="column" fxLayoutAlign="center start">
        <div fxLayout="row" fxLayoutAlign="start center"></div>
        <div class="h1 mt-16"></div>
      </div>
    </div>
    <!-- / HEADER -->
  
    <div class="vertical-stepper-wrapper">
      <!-- VERTICAL STEPPER EXAMPLE -->
  
      <mat-vertical-stepper>
        <mat-step>
          <form fxLayout="column" [formGroup]="verticalStepperStep1">
            <ng-template matStepLabel>Who are you ?</ng-template>
      
            <div fxFlex="1 0 auto" fxLayout="column">
              <mat-select placeholder="Select an option">
  
                <mat-option
                  (onSelectionChange)="setFoodFlag(food.viewValue)"
                  *ngFor="let food of foods"
                  [value]="food.value"
                >
                  {{ food.viewValue }}
  
                </mat-option>
  
              </mat-select>
      
              <input matInput formControlName="firstName" required />
              <mat-error> </mat-error>
            </div>
            <div *ngIf="foodFlag == 'Freelance Marketer'">
              <p>You do have a firm?</p>
              <mat-icon matSuffix class="secondary-text">toggle-on</mat-icon>
            </div>
            <div *ngIf="foodFlag == 'In House Marketer'">
                <p>What is the name of your Company?</p>
                <textarea matInput placeholder="Enter your business name"></textarea>
  
            </div>
            <div *ngIf="foodFlag == 'Business Owner/Company Executive'">
                <p>What is the name of your Business?</p>
                <textarea matInput placeholder="Enter your business name"></textarea>
  
            </div>
            <div *ngIf="foodFlag == 'Marketing Agency'">
              <p>What is the name of your Agency?</p>
              <textarea matInput placeholder="Enter your business name"></textarea>
  
          </div>
          <div *ngIf="foodFlag == 'Other'">
              <p>What is your role?</p>
              <textarea matInput placeholder="Enter your Role"></textarea>
  
              <p>What is the name of your Agency?</p>
              <textarea matInput placeholder="Enter your business name"></textarea>
  
          </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button
                mat-raised-button
                matStepperNext
                type="button"
                color="accent"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form fxLayout="column" [formGroup]="verticalStepperStep2">
            <ng-template matStepLabel>What Features are you interested in?</ng-template>
      
            <div fxFlex="1 0 auto" fxLayout="column">
                <mat-select placeholder="Select an option">
                    <mat-option *ngFor="let wood of feeds" [value]="wood.value">
                        {{wood.viewValue}}
                      </mat-option>
                
                  </mat-select>
  
  
            </div>
      
            <div fxLayout="row" fxLayoutAlign="center center">
              <button
                class="mr-8"
                mat-raised-button
                matStepperPrevious
                type="button"
                color="accent"
              >
                Previous
              </button>
              <button
                mat-raised-button
                matStepperNext
                type="button"
                color="accent"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form fxLayout="column" [formGroup]="verticalStepperStep3">
            <ng-template matStepLabel>Fill out your address</ng-template>
      
            <div fxFlex="1 0 auto" fxLayout="column">
  
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" required />
                <mat-error>City is required!</mat-error>
              </mat-form-field>
      
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>State</mat-label>
                <input matInput formControlName="state" required />
                <mat-error>State is required!</mat-error>
              </mat-form-field>
      
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Postal Code</mat-label>
                <input
                  matInput
                  #postalCode3
                  formControlName="postalCode"
                  maxlength="5"
                  required
                />
                <mat-hint align="end"
                  >{{ postalCode3.value.length }} / 5</mat-hint
                >
                <mat-error>Postal Code is required!</mat-error>
              </mat-form-field>
            </div>
      
            <div fxLayout="row" fxLayoutAlign="center center">
              <button
                class="mr-8"
                mat-raised-button
                matStepperPrevious
                type="button"
                color="accent"
              >
                Previous
              </button>
              <button
                mat-raised-button
                matStepperNext
                type="button"
                color="accent"
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
      
              <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                Thank your for filling out our form.
              </div>
      
              <div fxLayout="row" fxLayoutAlign="center center">
                <button
                  class="mr-8"
                  mat-raised-button
                  matStepperPrevious
                  type="button"
                  color="accent"
                >
                  Previous
                </button>
                <button
                  mat-raised-button
                  type="button"
                  color="accent"
                  (click)="finishVerticalStepper()"
                >
                  Finish
                </button>
              </div>
        </mat-step>>
      </mat-vertical-stepper>
      <!-- / CONTENT -->    
      <!-- / VERTICAL STEPPER EXAMPLE -->
    </div>
  </div>